PORT=3000
RESEND_API_KEY= re_2Rd27Xv2_8saJrBe1VEaY1ZTtYcLXyMFk
CONTACT_TO_EMAIL= arfanbinparvez@gmail.com
UPSTASH_REDIS_REST_URL= "https://special-porpoise-141657.upstash.io"
UPSTASH_REDIS_REST_TOKEN= "gQAAAAAAAilZAAIgcDIyYWVmODAyYzI3ZjE0M2RjYTk5YzdkMjlkM2E0NzVjZQ"
FRONTEND_URL=
